<div class="panel panel-default shortPanel">
    <h5 class="text-center m-b-0">Welcome to the</h5>
    <h3 class="text-center m-t-10">Transport Hub</h3>
    <p class="small text-center">
        <medium>Depending on your interest, I'll take you to a city</medium>
    </p>
    <form class="margin-base-vertical" method="post" action="/city">
        <p class="input-group ">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <select required class="form-control" name="interest">
                <option value="finance">Business</option>
                <option value="fashion">Fashion</option>
                <option value="history">History</option>
            </select>
        </p>
        <p class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="/cancel" class="btn btn-success">Cancel</a>
        </p>
    </form>
</div>
