<div class="panel panel-default shortPanel">
    <h5 class="text-center m-b-0">Here you are in the city of</h5>
    <h3 class="text-center m-t-10">{{cityName}}</h3>
    <p class="help-block text-left">
        <img src='public/images/{{cityName}}.jpg' class="img-circle" alt="city image" width="50" height="50"/>
        <small> : {{tagline}}</small>
    </p>
    <p class="help-block text-left">
        <img src='public/images/{{cityName}}.jpg' alt="city image" width="304" height="236" class="img-responsive"/>
    </p>
</div>