<div class="text-center">
	<h1>Welcome to Node JS !</h1>
	<div class="well">
		<h3>All the best for new coding experience.</h3>
		<hr/>
		<a href="/login" class="btn btn-primary btn-xs">Click Here</a> to go to login page.
	</div>
</div>