<!--<h3>Fill your credentials</h3>
<form method="post" action="/loginSuccess">
	<div class="form-group">
		<input type="text" name="nm" placeholder="username" required="" class="form-control input-sm"/>
	</div>
	<div class="form-group">
		<input type="text" name="fn" placeholder="first name" class="form-control input-sm"/>
	</div>
	<div class="form-group">
		<input type="text" name="ln" placeholder="last name" class="form-control input-sm"/>
	</div>
	<div class="form-group">
		<input type="email" name="em" placeholder="email" class="form-control input-sm"/>
	</div>
	<div class="form-group text-right">
		<a href="/" class="btn btn-default btn-sm">back to Home</a>
		<button type="submit" class="btn btn-success btn-sm">Login</button>
	</div>
</form>-->

<div class="container">
    <div class="panel panel-default shortPanel">
        <h1 align="center" class="margin-base-vertical">Sign In</h1>
        <form class="margin-base-vertical" method="get" action="/loginSuccess">
            <p class="input-group ">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" required class="form-control" name="nm" placeholder="username" />
            </p>
            <p class="help-block text-center">
                <small>Please login to use the Transport Hub</small>
            </p>
            <p class="text-center">
                <button type="submit" class="btn btn-success">Sign-In</button>
            </p>
        </form>
    </div>
</div>